





.recent-1{

    background-image: linear-gradient(-45deg ,#44e9eb , #4148d4 60%, #262626 );
}
.recent-2{

    background-image: linear-gradient(-45deg ,#ebc444 , #d4414a , #2c2d29 );}
.recent-3{

    background-image: linear-gradient(-45deg ,#262626 , #612c6a, #4a79b3 , #47c1df , #ffffff);
}
.recent-4{

    background-image: linear-gradient(-45deg ,#84a5b8 , #d7dece, #273135 );
}
.recent-5{

    background-image: linear-gradient(-45deg ,#262626 , #c612e7, #fff000 , #fffeed );
}
.recent-6{

    background-image: linear-gradient(-45deg ,#ebc444 , #d4414a , #2c2d29 );
}
.recent-7{

    background-image: linear-gradient(-45deg ,#262626 , #3fa7a9, #ffbcbd );
}
.recent-8{

    background-image: linear-gradient(-45deg ,#262626 , #ff0000, #00ccff , #e9fffa);
}
.recent-9{

    background-image: linear-gradient(-45deg ,#262626 , #ff0000, #ffb178 , #e9fffa);
}
